<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	
	<session-config>
  		<session-timeout>1</session-timeout> 
	</session-config>
	
	<servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>core.FileUploadServlet</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
    	<servlet-name>upload</servlet-name>
    	<url-pattern>/upload</url-pattern>
   	</servlet-mapping>
    
    <servlet>
        <servlet-name>insert</servlet-name>
        <servlet-class>core.InsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>insert</servlet-name>
    	<url-pattern>/insert</url-pattern>
   	</servlet-mapping>
    
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>core.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>logout</servlet-name>
    	<url-pattern>/logout</url-pattern>
   	</servlet-mapping>
	
	<security-constraint>
   		<web-resource-collection>
   			<web-resource-name>Simple Web Resource</web-resource-name>
   			<url-pattern>/index.html</url-pattern>
		</web-resource-collection>
    	<auth-constraint>
    		<role-name>user</role-name>
    	</auth-constraint>
	</security-constraint>
    <login-config>
    	<auth-method>FORM</auth-method>
    	<realm-name>file</realm-name>
    	<form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/error.html</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
